/web
.env
__pycache__/selenium_leo1.cpython-311.pyc
tabela.plk
__pycache__/selenium_leo1.cpython-311.pyc
__pycache__/DatabaseManager.cpython-311.pyc
__pycache__/responsiveTablle.cpython-311.pyc
__pycache__/selenium_leo1.cpython-311.pyc
__pycache__/selenium_leo1.cpython-312.pyc
Untitled-1.ipynb
self.dic_cols_tabela2.json
teste_textfield.py
